.primary{
    background-color: rgb(67, 197, 206);
    color: white;
    padding: 0.2em 0.5em;
    border-radius: 0.3em;
    border: none;
    margin: 0.1em;
}
table{
    width: 100%;
    border-collapse: collapse;
    th{
        background-color: rgb(135, 97, 97);
        color: white;
        text-align: right;
    }
    th,td{
        padding: 0.2em;
    }
    th{
        border-top: 1px solid rgb(116, 116, 116);
    }
    tr{
        border-bottom: 1px solid rgb(116, 116, 116);
    }
}tr:nth-of-type(2n+1){
    background-color: rgb(183, 160, 160);
}